*.bak
*.noi
*.bin
*.ihx
*.lk
*.map
*.o
/BINs
/ROMs/bootrom/loader/*.lk
/ROMs/bootrom/loader/*.ihx
/ROMs/bootrom/loader/*.jpg
/ROMs/bootrom/loader/*.noi
/ROMs/bootrom/loader/*.map
/ROMs/bootrom/loader/loader.bin
/ROMs/bootrom/loader/loader.mif
/ROMs/bootrom/loader/obj/*.rel
/ROMs/bootrom/loader/obj/*.asm
/ROMs/bootrom/loader/obj/*.lst
/ROMs/bootrom/loader/obj/*.sym
/ROMs/bootrom/app/*.noi
/ROMs/bootrom/app/*.bin
/ROMs/bootrom/app/*.ihx
/ROMs/bootrom/app/*.lk
/ROMs/bootrom/app/*.map
/ROMs/bootrom/app/obj/*.asm
/ROMs/bootrom/app/obj/*.lst
/ROMs/bootrom/app/obj/*.rel
/ROMs/bootrom/app/obj/*.sym
/ROMs/bootrom/makefirmware/firmware.rar
/ROMs/bootrom/makefirmware/*.exe
/ROMs/bootrom/makefirmware/_make.cmd
/ROMs/bootrom/makefirmware/TBBLUE.FW.old
/ROMs/test
/src/rom/greybox_tmp
/src/rom/testrom.qip
/src/rom/testrom.vhd
/src/syn-de1/*.ppf
/src/syn-vtrucco/*.ppf
/src/T80/tb/tb_T80 - Copia.vht
/src/T80/tb/transcript
/src/T80/tb/vsim.wlf
/src/T80/tb/work
/src/peripheral/m1 - Copia.vhd
/src/tbblue - Copia.vhd
/src/syn-de1/de1_top - Copia.vhd
/src/video/zxula_radas.vhd
/src/video/tb/greybox_tmp
/src/video/tb/transcript
/src/video/tb/vsim.wlf
/src/video/tb/work
/src/video/tb/wlft4j975z
/src/video/tb/wlfte17vwr
/src/video/zxula.vhd.ori
/synth/de1/*.qws
/synth/de1/db
/synth/de1/incremental_db
/synth/de1/output_files
/synth/de1_nova/*.qws
/synth/de1_nova/db
/synth/de1_nova/incremental_db
/synth/de1_nova/output_files
/synth/de2/*.qws
/synth/de2/*.qip
/synth/de2/db
/synth/de2/incremental_db
/synth/de2/output_files
/synth/de2/greybox_tmp
/synth/de2_nova/*.qws
/synth/de2_nova/db
/synth/de2_nova/incremental_db
/synth/de2_nova/output_files
/synth/de2_nova/greybox_tmp
/synth/de2_nova/*.qip
/synth/fblabs/*.qws
/synth/fblabs/*.qip
/synth/fblabs/greybox_tmp
/synth/fblabs/db
/synth/fblabs/incremental_db
/synth/fblabs/output_files
/synth/vtrucco/*.qip
/synth/vtrucco/*.qws
/synth/vtrucco/db
/synth/vtrucco/greybox_tmp
/synth/vtrucco/incremental_db
/synth/vtrucco/output_files
/synth/wxeda/*.qws
/synth/wxeda/*.txt
/synth/wxeda/db
/synth/wxeda/incremental_db
/synth/wxeda/output_files
/synth/wxeda/*.cof
/synth/ZXUNO/*.gise
/synth/ZXUNO/_ngo
/synth/ZXUNO/_xmsgs
/synth/ZXUNO/iseconfig
/synth/ZXUNO/*.html
/synth/ZXUNO/*.xml
/synth/ZXUNO/xlnx_auto_0_xdb
/synth/ZXUNO/planAhead_run_1
/synth/ZXUNO/xst
/synth/ZXUNO/*.bld
/synth/ZXUNO/*.cmd_log
/synth/ZXUNO/*.lso
/synth/ZXUNO/*.ncd
/synth/ZXUNO/*.ngc
/synth/ZXUNO/*.ngd
/synth/ZXUNO/*.ngr
/synth/ZXUNO/*.pad
/synth/ZXUNO/*.par
/synth/ZXUNO/*.pcf
/synth/ZXUNO/*.prj
/synth/ZXUNO/*.ptwx
/synth/ZXUNO/*.stx
/synth/ZXUNO/*.syr
/synth/ZXUNO/*.twr
/synth/ZXUNO/*.twx
/synth/ZXUNO/*.unroutes
/synth/ZXUNO/*.xpi
/synth/ZXUNO/*.xst
/synth/ZXUNO/*.mrp
/synth/ZXUNO/*.ngm
/synth/ZXUNO/*.xrpt
/synth/ZXUNO/*.csv
/synth/ZXUNO/*.txt
/synth/ZXUNO/*.log
/synth/ZXUNO/*.bgn
/synth/ZXUNO/*.bit
/synth/ZXUNO/*.drc
/synth/ZXUNO/*.ut
/synth/ZXUNO/*.xwbt
/synth/ZXUNO/*.cmd
/synth/ZXUNO/*.tcl
/synth/ZXUNO/ipcore_dir/_xmsgs
/synth/ZXUNO/ipcore_dir/*.cgc
/synth/ZXUNO/ipcore_dir/*.asy
/synth/ZXUNO/ipcore_dir/*.gise
/synth/ZXUNO/ipcore_dir/*.ncf
/synth/ZXUNO/ipcore_dir/*.vho
/synth/ZXUNO/ipcore_dir/*.xdc
/synth/ZXUNO/ipcore_dir/pll1
/synth/ZXUNO/ipcore_dir/*.txt
/synth/ZXUNO/ipcore_dir/*.tcl
/synth/ZXUNO/ipcore_dir/tmp
/synth/ZXUNO/*.debug
/synth/ZXUNO/auto_project_1.ipf
/synth/ZXUNO/ipcore_dir/*.sym
/synth/ZXUNO/pll1/*.txt
/synth/ZXUNO/pll1/doc
/synth/ZXUNO/pll1/example_design
/synth/ZXUNO/pll1/implement
/synth/ZXUNO/pll1/simulation
/synth/ZXUNO/tmp
/synth/ZXUNO/*.cgc
/synth/ZXUNO/*.cgp
/synth/Next/*.gise
/synth/Next/_ngo
/synth/Next/_xmsgs
/synth/Next/iseconfig
/synth/Next/*.html
/synth/Next/*.xml
/synth/Next/xlnx_auto_0_xdb
/synth/Next/planAhead_run_1
/synth/Next/xst
/synth/Next/*.bld
/synth/Next/*.cmd_log
/synth/Next/*.lso
/synth/Next/*.ncd
/synth/Next/*.ngc
/synth/Next/*.ngd
/synth/Next/*.ngr
/synth/Next/*.pad
/synth/Next/*.par
/synth/Next/*.pcf
/synth/Next/*.prj
/synth/Next/*.ptwx
/synth/Next/*.stx
/synth/Next/*.syr
/synth/Next/*.twr
/synth/Next/*.twx
/synth/Next/*.unroutes
/synth/Next/*.xpi
/synth/Next/*.xst
/synth/Next/*.mrp
/synth/Next/*.ngm
/synth/Next/*.xrpt
/synth/Next/*.csv
/synth/Next/*.txt
/synth/Next/*.log
/synth/Next/*.bgn
/synth/Next/*.bit
/synth/Next/*.drc
/synth/Next/*.ut
/synth/Next/*.xwbt
/synth/Next/*.cmd
/synth/Next/*.tcl
/synth/Next/ipcore_dir/_xmsgs
/synth/Next/ipcore_dir/*.cgc
/synth/Next/ipcore_dir/*.asy
/synth/Next/ipcore_dir/*.gise
/synth/Next/ipcore_dir/*.ncf
/synth/Next/ipcore_dir/*.vho
/synth/Next/ipcore_dir/*.xdc
/synth/Next/ipcore_dir/pll1
/synth/Next/ipcore_dir/*.txt
/synth/Next/ipcore_dir/*.tcl
/synth/Next/ipcore_dir/tmp
/synth/Next/*.debug
/synth/Next/auto_project_1.ipf
/synth/Next/ipcore_dir/*.sym
/synth/Next/pll1/*.txt
/synth/Next/pll1/doc
/synth/Next/pll1/example_design
/synth/Next/pll1/implement
/synth/Next/pll1/simulation
/synth/Next/tmp
/synth/Next/*.cgc
/synth/Next/*.cgp
/TBUMaker/*.rpd
/TBUMaker/*.TBU
/TBUMaker/obj
/TBUMaker/*.exe
/synth/de1/simulation
/synth/de1/tbblue_fpga_nativelink_simulation.rpt
/synth/de1/tbblue_fpga_description.txt
/src/peripheral/tb/work
/src/peripheral/tb_ts/transcript
/src/peripheral/tb_ts/vsim.wlf
/src/peripheral/tb_ts/work
/src/peripheral/tb/transcript
/synth/Next/next_top.zip
/synth/ZXUNO/FlashOriginal.mcs
/synth/ZXUNO/auto_project.ipf
/synth/ZXUNO/flash.cfi
/synth/ZXUNO/flash.mcs
/synth/ZXUNO/flash.prm
/synth/ZXUNO/z.jed
/DOCs/multiboot.txt
/TBUMaker/CORE9.ZX1
/ROMs/bootrom/antibrick
/DOCs/Speccy New Video.pdf
/TBUMaker/Next/*.mcs
/src/rom/antibrick.vhd
/src/syn-next/next_ab_top - Copia.vhd
/synth/Next_ab/*.gise
/synth/Next_ab/_ngo
/synth/Next_ab/_xmsgs
/synth/Next_ab/iseconfig
/synth/Next_ab/*.html
/synth/Next_ab/*.xml
/synth/Next_ab/xlnx_auto_0_xdb
/synth/Next_ab/planAhead_run_1
/synth/Next_ab/xst
/synth/Next_ab/*.bld
/synth/Next_ab/*.cmd_log
/synth/Next_ab/*.lso
/synth/Next_ab/*.ncd
/synth/Next_ab/*.ngc
/synth/Next_ab/*.ngd
/synth/Next_ab/*.ngr
/synth/Next_ab/*.pad
/synth/Next_ab/*.par
/synth/Next_ab/*.pcf
/synth/Next_ab/*.prj
/synth/Next_ab/*.ptwx
/synth/Next_ab/*.stx
/synth/Next_ab/*.syr
/synth/Next_ab/*.twr
/synth/Next_ab/*.twx
/synth/Next_ab/*.unroutes
/synth/Next_ab/*.xpi
/synth/Next_ab/*.xst
/synth/Next_ab/*.mrp
/synth/Next_ab/*.ngm
/synth/Next_ab/*.xrpt
/synth/Next_ab/*.csv
/synth/Next_ab/*.txt
/synth/Next_ab/*.log
/synth/Next_ab/*.bgn
/synth/Next_ab/*.bit
/synth/Next_ab/*.drc
/synth/Next_ab/*.ut
/synth/Next_ab/*.xwbt
/synth/Next_ab/*.cmd
/synth/Next_ab/*.tcl
/synth/Next_ab/ipcore_dir/_xmsgs
/synth/Next_ab/ipcore_dir/*.cgc
/synth/Next_ab/ipcore_dir/*.asy
/synth/Next_ab/ipcore_dir/*.gise
/synth/Next_ab/ipcore_dir/*.ncf
/synth/Next_ab/ipcore_dir/*.vho
/synth/Next_ab/ipcore_dir/*.xdc
/synth/Next_ab/ipcore_dir/pll1
/synth/Next_ab/ipcore_dir/*.txt
/synth/Next_ab/ipcore_dir/*.tcl
/synth/Next_ab/ipcore_dir/tmp
/synth/Next_ab/*.debug
/synth/Next_ab/auto_project_1.ipf
/synth/Next_ab/ipcore_dir/*.sym
/synth/Next_ab/pll1/*.txt
/synth/Next_ab/pll1/doc
/synth/Next_ab/pll1/example_design
/synth/Next_ab/pll1/implement
/synth/Next_ab/pll1/simulation
/synth/Next_ab/tmp
/synth/Next_ab/*.cgc
/synth/Next_ab/*.cgp
/ROMs/bootrom/loader2
/TBUMaker/Next/mountFlash - Copia.cmd
/synth/Multicore/*.txt
/synth/Multicore/db
/synth/Multicore/incremental_db
/synth/Multicore/output_files
/Software
/src/shared/greybox_tmp/cbx_args.txt
/src/shared/pll1.qip
/src/peripheral/tb_divmmc/transcript
/src/peripheral/tb_divmmc/vsim.wlf
/src/peripheral/tb_divmmc/work
/src/peripheral/tb_newdivmmc/transcript
/src/peripheral/tb_newdivmmc/vsim.wlf
/src/peripheral/tb_newdivmmc/work
*.qws
/src/T80/tb_im2/transcript
/src/T80/tb_im2/vsim.wlf
/src/T80/tb_im2/work
/src/audio/sid/tb/transcript
/src/audio/sid/tb/vsim.wlf
/src/audio/sid/tb/work
